Yellowtail.Cord/obj/
Yellowtail.Cord/appsettings.Development.json
Yellowtail.Cord.Application/obj/project.assets.json
Yellowtail.Cord.Application/obj/
Yellowtail.Cord.Domain/obj/
Yellowtail.Cord.Infrastructure/obj/
Yellowtail.Cord.IntegrationTests/obj/
Yellowtail.Cord.UnitTests/obj/
Yellowtail.Cord/bin/
.vs/
Yellowtail.Cord.Application/bin/
Yellowtail.Cord.Domain/bin/
Yellowtail.Cord.Infrastructure/bin/
Yellowtail.Cord.IntegrationTests/bin/
Yellowtail.Cord.UnitTests/bin/
